<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="../static/css/InvalidPlayer.css">
    <link rel="shortcut icon" href="../static/img/ItsOkay.png" type="image/png">
</head>
<body>
    <p>
        You never connected to us minecraft server
    </p>
    <p>
        Use IP <span class="ip"> ItsOkay.ru </span> to connect to this server
    </p>
    <a>
        <img class="warning" src="../static/img/warning.png" alt="html">
    </a>
</body>
</html>